
#taskbar2 {
    border: 0.5px solid;
    width: 100%;
    height: 40px;
    font-size: 28px;
    background: rgb(0, 145, 194);
    padding: 2.5px;
    float : left;

    text-align:start;

    margin-bottom: 20px;
    margin-left:0px;
    margin-right: 20px;

    font-family: "Press Start 2P", "consolas", sans-serif;
}

#home {
    padding: 1.5px; 
    height : 38px;
    width : 40px;
    margin-right: 2px;

    text-align : center;
    margin-left: 12px;

    position: absolute;
    top: 18px;
    left: 6px;
    display:inline;
}
#home:hover {
    background-color: lightblue;
}
#topText {
    padding-bottom: 100px;
    position: relative;
    top:0px;
    
    position: absolute;
    top: 22px;
    left: 70px;
    display:inline;
    
   
}
#bookmark {

    position: absolute;
    top: 22px;
    right: 5px;
    display:inline;
}
#bookmark:hover {
    background-color: lightblue;
}
#bookmark2 {

    position: absolute;
    top: 22px;
    right: 65px;
    display:inline;
}
#bookmark2:hover {
    background-color: lightblue;
}

#profile {
    width: 70px;
    height: 38px;
    top: 20px;
    position:absolute;
    right: 45px;
}
#profile:hover {
    background-color: lightblue;
}

#profile2 {
    width: 38px;
    height: 38px;
    top: 20px;
    position:absolute;
    right: 15px;
}
#profile2:hover {
    background-color: lightblue;
}

#book {
    text-decoration: none;
}
h1 {
    border-bottom: 1.25px solid;
    /* width: 640px;
    height: 40px; */
    font-size: 22px;
    padding: 2.5px;

    margin-bottom: 20px;
    text-align: center;

    font-family: "Press Start 2P", "consolas", sans-serif;
}

p{
    position: absolute;
    margin: 25px;
}
#result1:hover {
    background-color: antiquewhite;
}
#result2:hover {
    background-color: antiquewhite;
}
#result3:hover {
    background-color: antiquewhite;
}



